
<section class="page-header page-header-mini py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 text-left">
                <h1>Quem Somos</h1>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                    <li>
                        <a href="@Url.Action("Index", "Home")" title="Página Principal">
                            Home
                        </a>
                    </li>
                    <li class="active">Quem Somos</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="v-page-wrap no-top-spacing no-bottom-spacing">
    @*<div class="v-bg-stylish pb-0">*@
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="w-100 pr-4" src="~/Template/img/mix/man-1.png" />
                </div>
                <div class="col-md-6">
                    <div class="clearfix pl-4 pt-8">
                        <h6 class="mb-5 o-7">
                            SOBRE NÓS
                        </h6>
                        <h3 class="fs-42 mb-5">20 ANOS DE EXPERIÊNCIA</h3>
                        <p align="justify">
                            A Versa Consórcios é formada por experientes profissionais que atuam exclusivamente no mercado de consórcios em andamento.
                            <br/><br/>
                            Compramos e vendemos cartas de crédito de forma transparente, honesta e justa.
                        </p>

                        <h3 class="fs-42 mb-5">MELHOR AVALIAÇÂO</h3>
                        <p align="justify">
                            A nossa larga experiência possibilita a quem quer vender uma cota, a mais correta avaliação da SUA carta de crédito.
                            <br /><br />
                            Fazemos este trabalho de uma maneira rápida, detalhada, descomplicada e com pagamento JUSTO e à vista.
                        </p>

                        <h3 class="fs-42 mb-5">MELHORES PROFISSIONAIS</h3>

                        <p align="justify">
                            Somos especialistas no que fazemos e prezamos por nossa reputação, pelo sigilo dos dados dos nossos clientes e da negociação.
                            <br /><br />
                            A sua satisfação é o que mais nos importa. Você vai ficar satisfeito com o nosso atendimento.
                        </p>

                        <p align="justify">
                            Temos muito orgulho dos inúmeros negócios fechados durante nossa história e temos certeza que estamos prontos para atender
                            às suas expectativas, além de merecer a sua confiança.
                        </p>

                        <p align="justify">
                            Estamos em São Paulo e atendemos todas as regiões do Brasil. Entre em contato conosco ou faça-nos uma visita. Será um prazer!
                        </p>
                        <div class="row v-counter-wrap">
                            <div class="col-sm-4">
                                <div class="v-counter text-aling-left">
                                    <h6 class="v-counter-text">
                                        Mais de
                                    </h6>
                                    <div class="count-number" data-from="0" data-to="6218" data-speed="1000" data-refresh-interval="25">
                                    </div>
                                    <h6 class="v-counter-text">
                                        Clientes Atendidos
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>